/*!
 * Ecran d'accueil
 */
#portal-title{
    margin-bottom: 30px;
}

/*!
 * La taille des champs de recherche dépend du conteneur
 */
.text_filter {
    width: 100%;
}

.text_filter:focus {
    width: 100%;
}

/*!
 * Ecran de gestion des commandes de café
 */
div.inline {
    display: inline-block;
    vertical-align: top;
}

.img-text {
    text-align: center;
    width: 100px;
    height: 90px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 50px;
}

.signs {
    bottom: -30px;
    overflow: hidden;
    width: auto;
}

.signs .plus, .signs .minus {
    cursor: pointer;
    height: 30px;
    top: 30px;
    position: relative;
    transition: top 0.3s ease 0s, background-color 0.2s ease 0s;
    width: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.cafe-frame:hover .signs .plus, .cafe-frame:hover .signs .minus {
    top: 0;
}

.coffee-count {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    height: 30px;
}

div.coffee-icon {
    text-align: center;
    margin-left: 8px;
    cursor: pointer;
}

div.darken {
    opacity: 0.1;
}

.filter-block {
    margin-right: 15px;
}

#recap-table {
    margin-top: 20px;
}

.filter-label {
    text-align: center;
}

#coffee-filter {
    padding: 10px;
}

#remove-filter {
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}

/*!
 * Ecran liste des commandes (demande)
 */
#paiementPopup {
    width: 250px;
}