/*Général*/
body {
    margin-top: 60px;
    margin-bottom: 80px;
}

#mainContainer {
    padding-top: 30px;
}

fieldset {
    margin-top: 20px;
}

.noclear {
    clear: none;
}

/*Menu*/

.navbar [class^="icon-"] {
    vertical-align: 5%;
}

#logout {
    margin-top: 25px;
    font-size: 22px;
}

/*Connexion*/

#connexion-container {
    margin: 200px auto;
    width: 300px;
    text-align: center;
}

#connexion-container > .row {
    border: solid 1px;
}

.connexion-help {
    margin-left: 5px;
    vertical-align: 20%;
}