<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head"></head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div class="container row">
    <div th:include="../fragments/alertFragment :: alert"></div>
    <h2>Assignation des rôles</h2>
    <table id="dt_assign_role" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th th:each="role : ${roles}" th:text="${role.code}" class="dyn-role"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3" class="dataTables_empty">Chargement des données</td>
        </tr>
        </tbody>
    </table>
    <div th:include="../fragments/buttonFragment :: newPopupFragment"></div>
</div>
<div id="popup" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="popupTitle"></h3>
        <input id="newTitle" type="hidden" value="Création d'un rôle"/>
        <input id="editTitle" type="hidden" value="Modification d'un rôle"/>
    </div>
    <div class="modal-body">
        <form id="popupForm" th:action="@{/admin/role/ajax}" method="post">
            <input type="hidden" id="id" name="id"/>
            <input type="hidden" id="version" name="version"/>

            <div class="control-group">
                <label class="control-label" for="code">Code</label>

                <div class="controls">
                    <input type="text" id="code" name="code" maxlength="40"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Description</label>

                <div class="controls">
                    <input type="text" id="description" name="description" class="input-xlarge"/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div th:include="../fragments/buttonFragment :: popupButtonsFragment"></div>
    </div>
</div>
<div th:include="../fragments/popupFragment :: confirmDeletePopupFragment"></div>
<footer th:include="../fragments/footerFragment :: footer"></footer>
<script type="text/javascript">
    /*<![CDATA[*/
    var oTable;

    $(function () {
        "use strict";
        oTable = $('#dt_assign_role').dataTable({
            sAjaxSource: "assign/list",
            aoColumns: resolveRolesCols()
        });
    });

    function resolveRolesCols() {
        "use strict";
        var cols = [];
        cols.push({mData: 'nom', sWidth: 225});
        $('.dyn-role').each(function () {
            var lib = $(this).text();
            cols.push({sClass: "center", sDefaultContent: "false", sType: "btn-cb",
                mData: function (source) {
                    return resolveData(source, lib);
                },
                mRender: function (data) {
                    return displayButton(data);
                }});
        });
        return cols;
    }

    function resolveData(data, lib) {
        "use strict";
        var cellData = {}, l = data.roles.length, i;
        cellData.id = data.id;
        if (l !== 0) {
            for (i = 0; i < l; i++) {
                if (data.roles[i].code === lib) {
                    cellData.role = true;
                    return cellData;
                }
            }
        }
        cellData.role = false;
        return cellData;
    }

    function displayButton(data) {
        "use strict";
        var icon = data.role === true ? 'icon-ok' : 'icon-remove';
        return "<button idline='" + data.id + "' hasrole='" + data.role + "' class='btn btn-mini'" +
                " onclick='roleChange($(this))'><i class='" + icon + "'></i></button>";
    }

    function roleChange(event) {
        "use strict";
        $.ajax({
            type: 'post',
            data: {
                role: $('#dt_assign_role').find("th").eq(event.parent("td").index()).text(),
                id: event.attr('idline'),
                hasRole: event.attr('hasrole')
            }
        })
                .done(function (response) {
                    var icon;
                    if (response.success) {
                        jUtils.displaySuccess(response.message);
                        icon = event.children('i');
                        if (event.attr('hasrole') === "true") {
                            icon.removeClass('icon-ok');
                            icon.addClass('icon-remove');
                        } else {
                            icon.removeClass('icon-remove');
                            icon.addClass('icon-ok');
                        }
                    } else {
                        jUtils.displayError(response.message);
                    }
                })
                .error(function () {
                    jUtils.displayError();
                });
    }
    /*]]>*/
</script>
</body>
</html>