<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head"></head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div class="container row">
    <div th:include="../fragments/alertFragment :: alert"></div>
    <h2>Liste des cafés</h2>
    <table id="dt_cafe" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Intensité</th>
            <th>Mode de dégustation</th>
            <th>Profil aromatique</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="6" class="dataTables_empty">Chargement des données</td>
        </tr>
        </tbody>
    </table>
    <div th:include="../fragments/buttonFragment :: newDetailFragment"></div>
</div>
<div th:include="../fragments/popupFragment :: confirmDeletePopupFragment"></div>
<footer th:include="../fragments/footerFragment :: footer">
</footer>

<script type="text/javascript">
    var oTable;
    $(function () {
        "use strict";
        oTable = $('#dt_cafe').dataTable({
            sAjaxSource: "cafe/list",
            iDisplayLength : 15,
            aoColumns: [
                {mData: "nom", sWidth: 200},
                {mData: "prix"},
                {mData: "intensite"},
                {mData: "categorie"},
                {mData: "profilAromatique"},
                jUtils.actionEdit()
            ]
        });
    });
</script>
</body>
</html>