<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head">
</head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu">
</header>
<div class="container row">
    <div th:include="../fragments/alertFragment :: alert"></div>
    <h1 th:text="${domain.id == null} ? 'Ajout d\'un café' : 'Modification d\'un café'"></h1>

    <div class="offset2">
        <form id="cafe-form" class="form-horizontal" th:action="@{/cafe}" method="post">
            <fieldset>
                <input type="hidden" id="id" name="id"/>
                <input type="hidden" id="version" name="version"/>

                <div class="control-group">
                    <label class="control-label" for="nom">Nom</label>

                    <div class="controls">
                        <input type="text" id="nom" name="nom"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="prix">Prix</label>

                    <div class="controls">
                        <input type="text" id="prix" name="prix"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>

                    <div class="controls">
                        <input type="text" id="description" name="description"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="intensite">Intensité</label>

                    <div class="controls">
                        <input type="text" id="intensite" name="intensite"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="modeDegustation">Mode de dégustation</label>

                    <div class="controls">
                        <input type="text" id="modeDegustation" name="modeDegustation"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="profilAromatique">Profil aromatique</label>

                    <div class="controls">
                        <input type="text" id="profilAromatique" name="profilAromatique"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        "use strict";

        $('#cafe-form').validate({
            rules: {
                nom: {
                    required: true,
                    unicity: true
                },
                prix: {
                    required: true
                },
                description: {
                    required: true
                },
                intensite: {
                    required: true
                },
                modeDegustation: {
                    required: true
                },
                profilAromatique: {
                    required: true
                }
            }
        });
    });
</script>
</body>
</html>