<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head">
</head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu">
</header>
<div class="container row">
    <div th:include="../fragments/alertFragment :: alert"></div>
    <h1 th:text="${domain.id == null} ? 'Ajout d\'un café' : 'Modification d\'un café'"></h1>

    <div class="offset2">
        <form id="cafe-form" class="form-horizontal" th:action="@{/cafe}" th:object="${domain}" method="post"
              enctype="multipart/form-data">
            <fieldset>
                <input type="hidden" id="id" th:field="*{id}"/>
                <input type="hidden" id="version" th:field="*{version}"/>

                <div class="control-group">
                    <label class="control-label" for="nom">Nom</label>

                    <div class="controls">
                        <input type="text" id="nom" class="input-medium" th:field="*{nom}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="prix">Prix</label>

                    <div class="controls">
                        <input type="text" id="prix" class="input-mini" th:field="*{prix}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>

                    <div class="controls">
                        <input type="text" id="description" class="input-xlarge" th:field="*{description}"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="intensite">Intensité</label>

                    <div class="controls">
                        <select id="intensite" th:field="*{intensite}" class="input-mini">
                            <option th:each="number : ${numbers}" th:text="${number}" th:value="${number}"></option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="categorie">Mode de dégustation</label>

                    <div class="controls">
                        <select id="categorie" th:field="*{categorie}" class="input-medium">
                            <option th:each="categorie : ${categories}" th:text="${categorie.text}"
                                    th:value="${categorie}"></option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="profilAromatique">Profil aromatique</label>

                    <div class="controls">
                        <select id="profilAromatique" th:field="*{profilAromatique}" class="input-medium">
                            <option value="">Choix d'un profil</option>
                            <option th:each="profil : ${profils}" th:text="${profil.text}"
                                    th:value="${profil}"></option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="image">Image capsule</label>

                    <div class="controls">
                        <input type="file" id="image" name="image"/>
                    </div>
                </div>
                <div th:include="../fragments/buttonFragment :: formButtonsFragment"></div>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        "use strict";

        $('#cafe-form').validate({
            rules: {
                nom: {
                    required: true,
                    unicity: true
                },
                prix: {
                    required: true,
                    number: true
                },
                description: {
                    required: true
                },
                intensite: {
                    required: true
                },
                categorie: {
                    required: true
                }
            }
        });
    });
</script>
</body>
</html>