<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head">
</head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div id="mainContainer" class="container">
    <div th:include="../fragments/alertFragment :: alert"></div>
    <div class="container row">
        <h2 th:text="${commande.id == null} ? 'Création d\'une nouvelle commande de café' :
        'Modification d\'une commande de café'"></h2>

        <div class="offset2">
            <form id="commande-form" class="form-horizontal" th:object="${commande}" method="post"
                  th:action="@{/commande}">
                <fieldset>
                    <input type="hidden" id="id" th:field="*{id}"/>
                    <input type="hidden" id="version" th:field="*{version}"/>

                    <div class="input-append control-group">
                        <label class="control-label" for="cloture">Date de clôture</label>

                        <div class="controls date datepicker">
                            <input type="text" id="cloture" th:field="*{cloture}" class="input-medium"/>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="cloture">Informations complémentaires</label>

                        <div class="controls">
                            <textarea id="informations" rows="5" th:field="*{informations}" class="input-xlarge">
                            </textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="radio inline">
                            Liquide avec appoint uniquement
                            <input type="radio" id="avecAppoint" name="accepteLiquideSansAppoint"
                                   value="false" th:checked="!${accepteLiquideSansAppoint}"/>
                        </label>
                        <label class="radio inline">
                            Liquide sans appoint accepté
                            <input type="radio" id="sansAppoint" name="accepteLiquideSansAppoint"
                                   value="true" th:checked="${accepteLiquideSansAppoint}"/>
                        </label>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="accepteCheque">Chèques acceptés</label>

                        <div class="controls">
                            <input type="checkbox" id="accepteCheque" th:field="*{accepteCheque}"/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="accepteVirement">Virement acceptés</label>

                        <div class="controls">
                            <input type="checkbox" id="accepteVirement" th:field="*{accepteVirement}"/>
                        </div>
                    </div>

                    <div th:class="${accepteVirement == true} ? 'control-group vir' : 'control-group vir hide'">
                        <label class="control-label" for="titulaire">Titulaire du compte</label>

                        <div class="controls">
                            <input type="text" id="titulaire" name="titulaire" th:value="${rib.titulaire}"
                                   class="input-medium"/>
                        </div>
                    </div>

                    <div th:class="${accepteVirement == true} ? 'control-group vir' : 'control-group vir hide'">
                        <label class="control-label" for="iban">Numéro IBAN</label>

                        <div class="controls">
                            <input type="text" id="iban" name="iban" th:value="${rib.iban}" class="input-medium"/>
                        </div>
                    </div>

                    <div th:class="${accepteVirement == true} ? 'control-group vir' : 'control-group vir hide'">
                        <label class="control-label" for="bic">Numéro BIC</label>

                        <div class="controls">
                            <input type="text" id="bic" name="bic" th:value="${rib.bic}" class="input-medium"/>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">
                            <i class="icon-ok"></i> Valider
                        </button>
                        <button type="reset" class="btn">
                            <i class="icon-undo"></i> Reset
                        </button>
                        <a th:if="${commande.id != null}" class="btn btn-warning" th:href="@{/commande/cloture/} + ${commande.id}">
                            <i class="icon-bell"></i> Clôturer
                        </a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer th:include="../fragments/footerFragment :: footer"></footer>
<script type="text/javascript">
    $(function () {
        "use strict";

        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            startDate: new Date()
        });

        $('#accepteVirement').click(function () {
            if ($('#accepteVirement').is(':checked')) {
                $('.vir').removeClass('hide');
            } else {
                $('.vir').addClass('hide');
            }
        });

        $("#commande-form").validate({
            rules: {
                cloture: {
                    required: true
                },
                titulaire: {
                    required: true
                },
                iban: {
                    required: true
                },
                bic: {
                    required: true
                }
            }
        });
    });
</script>
</body>
</html>