<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head">
</head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div id="mainContainer" class="container">
    <div th:include="../fragments/alertFragment :: alert"></div>
    <div class="container row">
        <h1>Création d'une nouvelle commande de café</h1>

        <div class="offset2">
            <form id="commande-form" class="form-horizontal" th:object="${commande}" method="post"
                  th:action="@{/commande}">
                <fieldset>
                    <legend>Formulaire de création</legend>
                    <input type="hidden" id="id" th:field="*{id}"/>
                    <input type="hidden" id="version" th:field="*{version}"/>

                    <div class="input-append control-group ">
                        <label class="control-label" for="fermeture">Date de fermeture</label>

                        <div class="controls date datepicker">
                            <input type="text" id="fermeture" th:field="*{fermeture}" class="input-medium"/>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="modePaiement">Modes de paiement</label>

                        <div class="controls">
                            <select id="modePaiement" th:field="*{modePaiement}" multiple="multiple">
                                <option value="">Veuillez sélection un ou plusiers modes de paiement</option>
                                <option th:each="mode : ${modes}" th:text="${mode.description}" th:value="${mode}"/>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="fermeture">Informations complémentaires</label>

                        <div class="controls">
                            <textarea id="informations" th:field="*{informations}"></textarea>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">
                            <i class="icon-ok"></i> Créer commande
                        </button>
                        <button type="reset" class="btn">
                            <i class="icon-undo"></i> Reset
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<footer th:include="../fragments/footerFragment :: footer"></footer>
<script type="text/javascript">
    $(function () {
        "use strict";

        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy'
        });
    });
</script>
</body>
</html>