<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head"></head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div class="container row">
    <div th:include="../fragments/alertFragment :: alert"></div>
    <h2>Liste des commandes</h2>

    <input id="demande-id" type="hidden" th:if="${demandeId != null}" th:value="${demandeId}"/>
    <table id="dt_commande" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Nombre de boites</th>
            <th>Prix</th>
            <th>Montant dû</th>
            <th th:if="${isAuthored}">Modifier</th>
            <th th:if="${isAuthored}">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="empty-size" th:colspan="${isAuthored} ? 6 : 4" class="dataTables_empty">Chargement des données</td>
        </tr>
        </tbody>
    </table>
    <div th:if="${demandeId != null}">
        <a class="btn btn-success" th:href="@{/demande}">
            <i class="icon-edit"></i> Modifier votre commande
        </a>
        <a id="delete-cmd" class="btn btn-danger pull-right" th:href="@{demande/delete/} + ${demandeId}">
            <i class="icon-trash"></i> Supprimer votre commande
        </a>
    </div>
    <div th:if="${demandeId == null}">
        <a class="btn btn-success" th:href="@{/demande}">
            <i class="icon-plus"></i> Commander du café
        </a>
    </div>
</div>
<div id="confirmDeletePopup" class="modal hide" tabindex="-1" role="dialog"
     aria-labelledby="Confirmation suppression" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Confirmation suppression</h3>
    </div>
    <div class="modal-body">
        <span id="delete-message">Veuillez confirmer la suppression de la ligne</span>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
        <button type="button" id="delete-btn" class="btn btn-primary">Supprimer</button>
    </div>
</div>
<footer th:include="../fragments/footerFragment :: footer">
</footer>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var oTable;

    $(function () {
        "use strict";

        oTable = $('#dt_commande').dataTable({
            sAjaxSource: "commande/list",
            aoColumns: getCols()
        });

        function getCols() {
            if ($('#empty-size').prop('colspan') === 6) {
                return [
                    {mData: "utilisateur.nom", sWidth: 250},
                    {mData: "nombreBoites"},
                    {mData: "montantTotal"},
                    {mData: "montantPaye", mRender: function (data, type, full) {
                        return full.montantTotal - data;
                    }},
                    {mData: "id", sWidth: 25, bSearchable: false, bSortable: false, sClass: "center", mRender: function () {
                        var path = window.location.pathname + "/demande";
                        return "<a href='" + path + "'><i class='icon-edit icon-large'></i></a>";
                    }},
                    jUtils.deleteCol()
                ];
            } else {
                return [
                    {mData: "utilisateur.nom", sWidth: 250},
                    {mData: "nombreBoites"},
                    {mData: "montantTotal"},
                    {mData: "montantPaye", mRender: function (data, type, full) {
                        return full.montantTotal - data;
                    }},
                    jUtils.detailCol()
                ];
            }
        }
    });

    /*]]>*/
</script>
</body>
</html>