<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head"></head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div class="container row">
    <div th:include="../fragments/alertFragment :: alert"></div>
    <h2>Liste des commandes</h2>

    <input id="demande-id" type="hidden" th:if="${demandeId != null}" th:value="${demandeId}"/>
    <table id="dt_commande" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Nombre de boites</th>
            <th>Prix</th>
            <th>Montant dû</th>
            <th>Détail</th>
            <th th:if="${isAuthored}">Modifier</th>
            <th th:if="${isAuthored}">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="empty-size" th:colspan="${isAuthored} ? 7 : 5" class="dataTables_empty">Chargement des données</td>
        </tr>
        </tbody>
    </table>
    <div th:if="${demandeId != null}">
        <a class="btn btn-success" th:href="@{/demande}">
            <i class="icon-edit"></i> Modifier votre commande
        </a>
        <button id="delete-cmd" class="btn btn-danger pull-right">
            <i class="icon-trash"></i> Supprimer votre commande
        </button>
    </div>
    <div th:if="${demandeId == null}">
        <a class="btn btn-success" th:href="@{/demande}">
            <i class="icon-plus"></i> Commander du café
        </a>
    </div>
</div>
<footer th:include="../fragments/footerFragment :: footer">
</footer>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        "use strict";

        $('#delete-cmd').click(function () {
            $.ajax({
                type: 'delete',
                url: 'demande/' + $('#demande-id').val()
            }).
                    success(function (response) {
                        jUtils.displaySuccess(response.message);
                    }).
                    error(function (response) {
                        jUtils.displayError(response);
                    });
        });

        $('#dt_commande').dataTable({
            sAjaxSource: "commande/list",
            aoColumns: getCols()
        });

        function getCols() {
            if ($('#empty-size').prop('colspan') === 7) {
                return [
                    {mData: "utilisateur.nom", sWidth: 250},
                    {mData: "nombreBoites"},
                    {mData: "montantTotal"},
                    {mData: "montantPaye", mRender: function (data, type, full) {
                        return full.montantTotal - data;
                    }},
                    jUtils.detailCol(),
                    {mData: "id", sWidth: 25, bSearchable: false, bSortable: false, sClass: "center", mRender: function () {
                        var path = window.location.pathname + "/" + jUtils.contextRoot + "/demande";
                        return "<a href='" + path + "'><i class='icon-edit icon-large'></i></a>";
                    }},
                    jUtils.deleteCol()
                ];
            } else {
                return [
                    {mData: "utilisateur.nom", sWidth: 250},
                    {mData: "nombreBoites"},
                    {mData: "montantTotal"},
                    {mData: "montantPaye", mRender: function (data, type, full) {
                        return full.montantTotal - data;
                    }},
                    jUtils.detailCol()
                ];
            }
        }
    });
    /*]]>*/
</script>
</body>
</html>