<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head">
</head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div id="mainContainer" class="container">
    <div th:include="../fragments/alertFragment :: alert"></div>
    <div class="container row">
        <h1>Saisie d'une commande de café</h1>

        <form th:action="@{/demande}" method="post"></form>

        <div th:each="cafe : ${cafes}" class="inline cafe-frame">
            <div class="img-text">
                <img th:src="@{${'/demande/image/' + cafe.id}}" class="cafe-img"/>
                <i th:text="${cafe.nom}"></i>
            </div>
            <div class="signs">
                <div class="minus pull-left"><i class="icon-minus icon-large"></i></div>
                <div class="plus pull-right"><i class="icon-plus icon-large"></i></div>
                <div class="coffee-count">152</div>
            </div>
        </div>


    </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>