<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head">
</head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu"></header>
<div class="container" ng-app="cafeApp">
    <div class="container row" ng-controller="CafeCtrl">
        <div th:include="../fragments/alertFragment :: alert"></div>
        <h2>Saisie d'une commande de café</h2>

        <div id="coffee-filter" class="well">
            <div class="inline filter-block">
                <div class="filter-label">Filtrage par intensité</div>
                <div ng-repeat="filter in filters.int" class="inline coffee-icon" ng-click="switchFilterInt(filter)">
                    <i class="icon-coffee" style="{{ resolveColor(filter)}}"></i>

                    <div>{{ filter.force }}</div>
                </div>
            </div>
            <div class="inline filter-block">
                <div class="filter-label">Filtrage par catégorie</div>
                <div class="inline">
                    <button ng-class="{true : 'btn', false: 'btn btn-inverse'}[filters.mode.espresso]" type="button"
                            ng-click="switchMode('espresso')">Espresso
                    </button>
                </div>
                <div class="inline">
                    <button ng-class="{true : 'btn', false: 'btn btn-inverse'}[filters.mode.lungo]" type="button"
                            ng-click="switchMode('lungo')">Lungo
                    </button>
                </div>
                <div class="inline">
                    <button ng-class="{true : 'btn', false: 'btn btn-inverse'}[filters.mode.decaffeinato]" type="button"
                            ng-click="switchMode('decaffeinato')">Decaffeinato
                    </button>
                </div>
                <div class="inline">
                    <button ng-class="{true : 'btn', false: 'btn btn-inverse'}[filters.mode.variations]" type="button"
                            ng-click="switchMode('variations')">Variations
                    </button>
                </div>
            </div>
            <div class="inline filter-block">
                <div class="filter-label">Filtrage par profil</div>
                <div class="inline">
                    <button ng-class="{true : 'btn', false: 'btn btn-inverse'}[filters.profil.intense]" type="button"
                            ng-click="switchProfil('intense')">Intense
                    </button>
                </div>
                <div class="inline">
                    <button ng-class="{true : 'btn', false: 'btn btn-inverse'}[filters.profil.equilibre]" type="button"
                            ng-click="switchProfil('equilibre')">Equilibré
                    </button>
                </div>
                <div class="inline">
                    <button ng-class="{true : 'btn', false: 'btn btn-inverse'}[filters.profil.fruite]" type="button"
                            ng-click="switchProfil('fruite')">Fruité
                    </button>
                </div>
            </div>
            <div class="inline">
                <div class="filter-label">Reset</div>
                <div id="remove-filter" ng-click="resetFilters()">
                    <i class="icon-remove"></i>
                </div>
            </div>
        </div>

        <div id="popCafe{{cafe.id}}" ng-repeat="cafe in cafes" class="inline cafe-frame" data-toggle="popover" data-placement="right" data-trigger="hover">
            <div class="{{ resolveCoffeeClass(cafe) }}">
                <div class="img-text">
                    <img ng-src="cafe/image/{{ cafe.id }}" class="cafe-img" ng-click="increment(cafe)"/>
                    <i>{{ cafe.nom }}</i>
                </div>
                <div class="signs">
                    <div class="minus pull-left" ng-click="decrement(cafe)">
                        <i class="icon-minus icon-large"></i>
                    </div>
                    <div class="plus pull-right" ng-click="increment(cafe)">
                        <i class="icon-plus icon-large"></i>
                    </div>
                    <div class="coffee-count">{{ cafe.nb }}</div>
                </div>
            </div>
        </div>

        <table id="recap-table" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre de boites</th>
                <th>Prix</th>
                <th>Intensité</th>
                <th>Catégorie</th>
                <th>Profil aromatique</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cafe in cafes | filter:recapFilter | orderBy:'-nb'">
                <td>{{ cafe.nom }}</td>
                <td>{{ cafe.nb }}</td>
                <td>{{ cafe.prix * cafe.nb * 10 | number:2}}</td>
                <td>{{ cafe.intensite }}</td>
                <td>{{ cafe.categorie }}</td>
                <td>{{ cafe.profilAromatique }}</td>
            </tr>
            </tbody>
            <tfoot ng-hide="!demande.nombreBoites" ng-show="demande.nombreBoites">
            <tr>
                <th>Total</th>
                <th>{{ demande.nombreBoites }}</th>
                <th>{{ demande.montantTotal | number:2 }}</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
            </tfoot>
        </table>

        <div class="well">
            <button type="button" class="btn btn-success" ng-click="submitCmd()">
                <i class="icon-ok"></i>
                Valider la commande
            </button>
            <button type="button" class="btn" ng-click="resetCmd()">
                <i class="icon-undo"></i>
                Annuler la saisie
            </button>
            <a class="btn btn-primary pull-right" th:href="@{/commande}">
                Retour
                <i class="icon-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/static/js/angular/cafe/cafe.js}"></script>
</body>
</html>