<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head">
</head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu">
</header>
<div class="container row">
    <h1>Éditeur d'email</h1>

    <div class="offset2">
        <form id="mail-form" class="form-horizontal" method="post">
            <fielset>
                <legend>Création du mail</legend>
                <div class="control-group">
                    <label class="control-label" for="sender">Émetteur</label>

                    <div class="controls">
                        <select id="sender" class="input-xlarge">
                            <option th:each="user: ${users}" th:value="${user.mail}" th:text="${user.nom}"></option>
                        </select>
                    </div>
                </div>


            </fielset>
        </form>
    </div>
    <div th:include="../fragments/alertFragment :: alert"></div>
</div>
<footer th:include="../fragments/footerFragment :: footer">
</footer>
</body>
</html>