<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/headFragment :: head">
</head>
<body>
<header th:include="../fragments/menuFragment :: fullMenu">
</header>
<div class="container row" ng-app="cafeRecap">
    <div th:include="../fragments/alertFragment :: alert"></div>
    <h2>Informations commande</h2>

    <div class="offset2">
        <form id="commande-form" class="form-horizontal" th:object="${commande}">
            <fieldset>
                <input type="hidden" id="id" th:field="*{id}"/>
                <input type="hidden" id="version" th:field="*{version}"/>

                <div class="input-append control-group">
                    <label class="control-label" for="cloture">Date de clôture</label>

                    <div class="controls date datepicker">
                        <input type="text" id="cloture" th:field="*{cloture}" class="input-medium" disabled="disabled"/>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="cloture">Informations complémentaires</label>

                    <div class="controls">
                        <textarea id="informations" rows="5" th:field="*{informations}" class="input-xlarge"
                                  disabled="disabled">
                        </textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="radio inline">
                        Liquide avec appoint uniquement
                        <input type="radio" id="avecAppoint" name="accepteLiquideSansAppoint"
                               value="false" th:checked="!${accepteLiquideSansAppoint}" disabled="disabled"/>
                    </label>
                    <label class="radio inline">
                        Liquide sans appoint accepté
                        <input type="radio" id="sansAppoint" name="accepteLiquideSansAppoint"
                               value="true" th:checked="${accepteLiquideSansAppoint}" disabled="disabled"/>
                    </label>
                </div>

                <div class="control-group">
                    <label class="control-label" for="accepteCheque">Chèques acceptés</label>

                    <div class="controls">
                        <input type="checkbox" id="accepteCheque" th:field="*{accepteCheque}" disabled="disabled"/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="accepteVirement">Virement acceptés</label>

                    <div class="controls">
                        <input type="checkbox" id="accepteVirement" th:field="*{accepteVirement}" disabled="disabled"/>
                    </div>
                </div>

                <div th:class="${accepteVirement == true} ? 'control-group vir' : 'control-group vir hide'">
                    <label class="control-label" for="titulaire">Titulaire du compte</label>

                    <div class="controls">
                        <input type="text" id="titulaire" name="titulaire" th:value="${rib.titulaire}"
                               class="input-medium" disabled="disabled"/>
                    </div>
                </div>

                <div th:class="${accepteVirement == true} ? 'control-group vir' : 'control-group vir hide'">
                    <label class="control-label" for="iban">Numéro IBAN</label>

                    <div class="controls">
                        <input type="text" id="iban" name="iban" th:value="${rib.iban}" class="input-medium"
                               disabled="disabled"/>
                    </div>
                </div>

                <div th:class="${accepteVirement == true} ? 'control-group vir' : 'control-group vir hide'">
                    <label class="control-label" for="bic">Numéro BIC</label>

                    <div class="controls">
                        <input type="text" id="bic" name="bic" th:value="${rib.bic}" class="input-medium"
                               disabled="disabled"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div th:if="${demandeId != null}" ng-controller="RecapCtrl" ng-init="findCafes()">
        <input type="hidden" id="demandeId" name="demandeId" th:value="${demandeId}"/>
        <table id="recap-table" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre de boites</th>
                <th>Prix</th>
                <th>Intensité</th>
                <th>Catégorie</th>
                <th>Profil aromatique</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cafe in cafes | filter:recapFilter | orderBy:'-nb'">
                <td>{{ cafe.nom }}</td>
                <td>{{ cafe.nb }}</td>
                <td>{{ cafe.prix * cafe.nb * 10 | number:2}}</td>
                <td>{{ cafe.intensite }}</td>
                <td>{{ cafe.categorie }}</td>
                <td>{{ cafe.profilAromatique }}</td>
            </tr>
            </tbody>
            <tfoot ng-hide="!demande.nombreBoites" ng-show="demande.nombreBoites">
            <tr>
                <th>Total</th>
                <th>{{ demande.nombreBoites }}</th>
                <th>{{ demande.montantTotal | number:2 }}</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <a class="btn btn-primary" th:href="@{/commande}">
            <i class="icon-arrow-left"></i> Retour
        </a>
    </div>
</div>
<script th:if="${demandeId != null}" type="text/javascript">
    var cafeRecap = angular.module('cafeRecap', []);

    cafeRecap.controller('RecapCtrl', function ($scope, $http) {
        "use strict";

        $scope.findCafes = function () {
            $http.get(jUtils.contextRoot + "/demande/cafes", {
                params : {id: $('#demandeId').val()}
            })
                    .success(function (data) {
                        $scope.cafes = data.cafes;
                        $scope.demande = data.demande;
                    });
        };

        $scope.recapFilter = function (cafe) {
            return cafe.nb !== 0;
        };
    });

</script>
</body>
</html>