<!--Fragment pour les alertes-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Bandeau d'alerte pour les listes -->
<div th:fragment="alert">
    <div id="alert" th:class="${responseMessage != null} ?
    (${responseMessage.success} ? 'alert alert-success fade in' : 'alert alert-error fade in') : 'alert fade'">
        <button id="close-alert" type="button" class="close">&times;</button>
        <i id="alert-icon"
           th:class="${responseMessage != null} ? (${responseMessage.success} ? 'icon-ok' : 'icon-warning-sign')"></i>
        <span id="alert-message" th:text="${responseMessage != null} ? ${responseMessage.message}"/>
    </div>
</div>

</body>
</html>