<!-- Fragment pour les boutons -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- form -->
<div th:fragment="formButtonsFragment">
    <div class="form-actions clear">
        <button type="submit" class="btn btn-success">
            <i class="icon-ok"></i>
            <span> Valider</span>
        </button>
        <button type="reset" class="btn">
            <i class="icon-undo"></i>
            <span> Reset</span>
        </button>

        <button type="button" class="btn btn-primary pull-right" onclick="jUtils.back()">
            <span>Retour </span>
            <i class="icon-arrow-right"></i>
        </button>
    </div>
</div>

<!-- Nouveau detail -->
<div th:fragment="newDetailFragment">
    <div class="clear">
        <button type="button" class="btn btn-success" onclick="jUtils.detailNew()">
            <i class="icon-plus"></i>
            <span> Nouveau</span>
        </button>
    </div>
</div>

<!-- Nouvelle popup -->
<div th:fragment="newPopupFragment">
    <div class="clear">
        <button type="button" class="btn btn-success" onclick="jUtils.popupNew()">
            <i class="icon-plus"></i>
            <span> Nouveau</span>
        </button>
    </div>
</div>

<!-- Popup buttons -->
<div th:fragment="popupButtonsFragment">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">
        <i class="icon-remove"></i>
        <span> Fermer</span>
    </button>
    <button type="submit" class="btn btn-success" form="popupForm">
        <i class="icon-ok"></i>
        <span> Valider</span>
    </button>
</div>

</body>
</html>