<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer">
    <div class="navbar navbar-fixed-bottom well">
        <div class="container">
            <span class="pull-left">jUtils V1.0.0</span>
            <span class="offset5">
                <a href="https://github.com/jntakpe/jutils"><i class="icon-github"></i> Github</a>
            </span>
            <span class="pull-right"><a href="mailto:jocelyn.ntakpe@sopragroup.com">
                <i class="icon-envelope"></i> Contact</a>
            </span>
        </div>
    </div>
</footer>

</body>
</html>