<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>jUtils</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/static/css/dev/bootstrap.journal.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/dev/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/dev/jquery.dataTables.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/dev/datepicker.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/dev/select2.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/jutils.theme.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/jutils.css}" rel="stylesheet"/>
    <script th:src="@{/static/js/dev/jquery-2.0.2.js}"></script>
    <script th:src="@{/static/js/dev/angular.js}"></script>
    <script th:src="@{/static/js/dev/bootstrap.js}"></script>
    <script th:src="@{/static/js/dev/jquery.dataTables.js}"></script>
    <script th:src="@{/static/js/dev/jquery.dataTables.columnFilter.js}"></script>
    <script th:src="@{/static/js/dev/jquery.validate.js}"></script>
    <script th:src="@{/static/js/dev/jquery.form.js}"></script>
    <script th:src="@{/static/js/dev/moment.js}"></script>
    <script th:src="@{/static/js/dev/bootstrap-datepicker.js}"></script>
    <script th:src="@{/static/js/dev/select2.js}"></script>
    <script th:src="@{/static/js/plugins.custom.js}"></script>
    <script th:src="@{/static/js/jutils.js}"></script>
</head>
</html>