<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div th:fragment="fullMenu">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="pull-left">
                    <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" th:href="@{/portal}">jUtils</a>
                </div>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript;">
                                <i class="icon-wrench"></i> Outils<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/age}"><i class="icon-time"></i> Age</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown" href="#"><i class="icon-book"></i>
                                Annuaires<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/utilisateur}"><i class="icon-male"></i> Collaborateurs</a></li>
                                <li><a th:href="@{/item}"><i class="icon-laptop"></i> Items</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown" href="#"><i class="icon-beer"></i>
                                Café<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN','RESP_CAFE')">
                                    <a th:href="@{/commande/new}"><i class="icon-plus-sign-alt"></i> Créer</a>
                                </li>
                                <li><a th:href="@{/item}"><i class="icon-laptop"></i> Items</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MAIL')">
                            <a th:href="@{/mail}"><i class="icon-envelope"></i> Mail</a>
                        </li>
                        <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon-cog"></i> Admin<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/admin/param}"><i class="icon-bar-chart"></i> Paramètres</a></li>
                                <li><a th:href="@{/admin/role}"><i class="icon-group"></i> Rôles</a></li>
                                <li><a th:href="@{/admin/role/assign}"><i class="icon-level-up"></i> Assignation</a></li>
                                <li><a th:href="@{/admin/batch/item}"><i class="icon-gears"></i> MaJ Items</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <a th:href="@{/utilisateur/account}" data-toggle="tooltip" title="Mon compte"
                               data-placement="left">
                                <span sec:authentication="name"></span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/logout}" data-toggle="tooltip" title="Déconnexion" data-placement="right">
                                <i class="icon-signout"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="emptyMenu">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="pull-left">
                    <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" th:href="@{/portal}">jUtils</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>